/* .textInput {
    position: absolute;
    width: 330px;
    height: 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38);
    border: 1px solid rgba(0, 0, 0, 0.12);
} */

.signup-form {
    align-content: center;
    justify-content: center;
}